.vscode/
Library/
Logs/
Packages/
Temp/
*.sln
*.csproj
*.sln
*.userprefs
*.unityproj
*.DS_Store

Assets/AmplifyShaderEditor
Assets/Assignments
Assets/Camera
Assets/MeshDynamics
Assets/Scenes
Assets/Tree